@model Site
@using CodeBase.Models;

@RenderBreadCrumbs()

@helper RenderBreadCrumbs()
{     
    var page = (APage)ViewData["page"];
    var ancestors = page.Ancestors().ToList();
    ancestors.Reverse();
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">            
        @foreach (var node in ancestors)
        {
            if (node.Level != 1)
            {
                <li class="breadcrumb-item"><a href="@node.Url">@node.Name</a></li>
            }
        }
        <li class="breadcrumb-item"><a href="@page.Url">@page.Name</a></li>
        </ol>
    </nav>
}
