@model Site
@using CodeBase.Models;
@{
    var site = Model;
    var page = (APage)ViewData["page"];
    selectedPages = page.Path.Split(new string[] { "," }, StringSplitOptions.None).Select(x => int.Parse(x)).ToArray();
}
<nav class="myNav">
    <ul>
        @foreach (var (culture, csite) in site.Cultures)
        {
            <li>
                <a href="@Model.Url(culture)">@(site.Value("title",culture))</a>
            </li>
        }
    </ul>

    <select>
        @foreach (var (culture, infos) in Model.Cultures)
        {
            <option value="@Model.Url(culture)home/">@culture</option>

        }
    </select>
    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>

    @RenderChildNodes(site, 0)
</nav>

@helper RenderChildNodes(IPublishedContent parent, int level)
{
    var childs = parent?.Children().OfType<APage>();
    <ul>
        @foreach (IPublishedContent pitem in childs)
        {
            var menu = (pitem.Value("menu") as IEnumerable<IPublishedElement>).FirstOrDefault();
            var title = menu?.Value("title");
            title = string.IsNullOrWhiteSpace(title?.ToString()) ? pitem.Value("title") : title;
            var isActive = selectedPages.Contains(pitem.Id);
            var className = isActive ? "active" : "";
            if (!(((bool?)menu?.Value("isVHidden")) ?? false))
            {
                <li class="@className">
                    <a class="nav-link @(pitem.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@pitem.Url">@title</a>
                    @if (isActive)
                    {
                        @RenderChildNodes(pitem, level + 1)
                    }
                </li>
            }
        }
    </ul>
}


@functions{
    int[] selectedPages = new int[0];
}