@model Site
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    var site = Model;
    var page = (IPublishedContent)ViewData["page"];
}
<nav class="myNav">
    @RenderChildNodes(site)
</nav>


@helper RenderChildNodes(IPublishedContent parent)
{
    var childs = parent?.Children().OfType<ContentModels.APage>();
    <ul>
        @foreach (var item in childs)
        {
            var title = item.Value("menuTitle");
            title = string.IsNullOrWhiteSpace(title.ToString()) ? item.Value("title") : title;
            if ((bool)item.Value("isVisibleInMenu"))
            {
                <li>                    
                    <a class="nav-link @(item.IsAncestorOrSelf(Model) ? "nav-link--active" : null)" href="@item.Url">@title</a>
                    @RenderChildNodes(item)
                </li>
            }
        }
    </ul>
}
