@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = null;
    var site = Model.AncestorOrSelf<ContentModels.Site>();
    var logoSrc = ((Image)site.Value("logo")).Url;
}
<html>
<head>
    <img src="@logoSrc" style="width:100px;" />
    <title>@site.Value("title")</title>
</head>
<section class="sidebar">
    @Html.Partial("Task21/Site/navigations/Main",site, new ViewDataDictionary { { "page", Model} })
</section>
<body>
    @RenderBody()
    <footer>@Html.Raw(site.Value("copyRights"))</footer>
</body>
</html>

