@inherits Umbraco.Web.Mvc.UmbracoViewPage<APage>
@using CodeBase.Models

@{
    Layout = null;
    var site = Model.CurrentSite;   
}
<html>
<head>
    @*<title>@(Model.Title)-[@site.Title]</title>*@
    <title>@Model.Title</title>
    <link rel="stylesheet" href="~/css/Libs/Bootstrap/bootstrap.min.css" />
    <script src="~/scripts/Libs/jQuery/jquery-3.5.1.min.js"></script>
    <script src="~/scripts/Libs/Popper/popper.min.js"></script>
    <script src="~/scripts/Libs/Bootstrap/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/myStyles.css" />
    
    <link rel="stylesheet" href="~/css/Libs/Kendo/kendo.common.min.css" />
    <link rel="stylesheet" href="~/css/Libs/Kendo/kendo.default.min.css" />
    <link rel="stylesheet" href="~/css/Libs/Kendo/kendo.default.mobile.min.css" />
    <script src="~/scripts/Libs/Kendo/kendo.all.min.js"></script>
    <script src="~/scripts/Libs/Kendo/jszip.min.js"></script>
    <script src="~/scripts/KendoWidgetsScript.js"></script>

</head>

<header>
    <div class="siteLogo">
        <img src="@site.LogoUrl" style="width:60px;" />
    </div>
    <div class="d-inline">
        @*<h1>@site.Title</h1>*@
        <h1>@Model.Title</h1>
    </div>
    <div class="user">
        @Html.Partial("Task21/member/_CurrentMember")
    </div>
    <div class="LanguageSwitcher">
        @Html.Partial("Task21/Site/navigations/Language", site, new ViewDataDictionary { { "page", Model } })
    </div>
</header>

<section class="sidebar">
    @Html.Partial("Task21/Site/navigations/Main", site, new ViewDataDictionary { { "page", Model } })
</section>

<body class="main">   
    @Html.Partial("Task21/Site/navigations/BreadCrumbs", site, new ViewDataDictionary { { "page", Model } })    
    
    @RenderBody()
    <footer>@Html.Raw(site.CopyRights)</footer>
</body>
</html>
