
@inherits Umbraco.Web.Mvc.UmbracoViewPage<APage>
@using CodeBase.Models

@{
    Layout = null;
    var site = Model.CurrentSite;   
}
<html>
<head>
    <title>@(Model.Title)-[@site.Title]</title>
    <link rel="stylesheet" href="~/css/Libs/Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/myStyles.css" />
    <script src="~/scripts/Libs/Bootstrap/bootstrap.js"></script>
</head>

<section class="sidebar">
    @Html.Partial("Task21/Site/navigations/Main", site, new ViewDataDictionary { { "page", Model } })
</section>
<body class="main">
    @*@Html.Partial("LanguageDropDown")*@
    @Html.Partial("Task21/Site/navigations/BreadCrumbs", site, new ViewDataDictionary { { "page", Model } })
    <img src="@site.LogoUrl" style="width:100px;" />
    @RenderBody()
    <footer>@Html.Raw(site.CopyRights)</footer>
</body>
</html>
